In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('d:/uber-taxi-demand/data/yellow_tripdata_2022.csv')
data.head()

  tpep_pickup_datetime  passenger_count  VendorID
0  2022-01-01 00:00:00             6838      4261
1  2022-01-01 01:00:00             7738      4997
2  2022-01-01 02:00:00             5974      3901
3  2022-01-01 03:00:00             4107      2686
4  2022-01-01 04:00:00             2485      1651