In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../data/feature-2022.parquet')
X_train = df.drop(columns=["taxi_demand",])
y_train = df.taxi_demand
df2 = pd.read_parquet('../data/feature-2023.parquet')
X_test = df2.drop(columns=["taxi_demand",])
y_test = df2.taxi_demand

In [3]:
df.shape, df2.shape

((8713, 20), (1592, 20))

In [4]:
df.ffill(inplace=True)

In [5]:
df.isnull().sum()

PC1            0
PC2            0
PC3            0
PC4            0
PC5            0
PC6            0
PC7            0
PC8            0
PC9            0
PC10           0
PC11           0
PC12           0
PC13           0
PC14           0
PC15           0
PC16           0
PC17           0
PC18           0
PC19           0
taxi_demand    0
dtype: int64

In [6]:
df2.taxi_demand.isnull().sum()

1592

In [7]:
df2.head()

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14,PC15,PC16,PC17,PC18,PC19,taxi_demand
0,23.718273,14.930842,25.355853,8.588989,6.786783,-10.252492,-6.724879,-3.978018,-4.377113,0.737261,-15.359071,-0.060347,5.135709e-18,-1.382836e-18,4.033395e-18,2.777329e-18,9.533014e-19,8.186722e-19,1.828294e-18,NaN
1,3.807196,-0.702940,-2.078457,-0.502498,-0.952596,-1.075451,-0.169224,0.961579,-0.357883,-1.981192,-0.292281,2.143428,-5.831804e-16,1.629189e-16,-4.805115e-16,-2.188063e-16,-9.877639e-17,7.854493e-17,-2.254140e-16,NaN
2,12.390297,4.294840,4.633114,-0.524657,-2.017603,4.936140,5.132366,-6.536679,-7.906023,-2.232191,8.965390,0.441244,6.859584e-16,6.260773e-16,2.433696e-16,5.157581e-16,2.872118e-16,6.546763e-16,-3.157676e-16,NaN
3,7.319921,1.029894,-0.167156,-0.922772,-1.066377,1.126567,0.672173,4.652307,5.595849,1.065017,-0.067521,1.039021,-1.173094e-15,-7.903969e-16,-5.486438e-16,-4.977726e-16,-3.128570e-16,-3.293095e-16,2.524719e-16,NaN
4,18.320177,9.328241,14.014048,3.330964,1.054496,-1.995706,0.691989,-1.674017,-2.040926,-1.952490,22.957588,-0.450683,-3.352756e-16,-3.151129e-16,-1.156347e-16,-2.537131e-16,-1.421760e-16,-3.261102e-16,1.606263e-16,NaN